<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home | WhatTheSite</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"
    />
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.0/css/bulma.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="is-background-light is-light">
<nav class="navbar is-light is-background-grey-lighter">
    <div class="navbar-brand">
        <a class="navbar-item" href="">
            <h1 class="title ml-2 mr-5 is-color-grey-darker">WhatTheSite</h1>
        </a>
        <div class="navbar-burger js-burger is-light" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href=""> Home </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link"> Docs </a>
                <div class="navbar-dropdown is-boxed is-background-grey-lighter is-light">
                    <a class="navbar-item is-background-grey-lighter is-color-grey-darker "
                        href="https://bulma.io/documentation/overview/start/"> Overview </a>
                    <a class="navbar-item is-background-grey-lighter is-color-grey-darker"
                        href="https://bulma.io/documentation/overview/modifiers/"> Modifiers </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item is-background-grey-lighter is-color-grey-darker"
                        href="https://bulma.io/documentation/columns/basics/"> Columns </a>
                    <a class="navbar-item is-background-grey-lighter is-color-grey-darker"
                        href="https://bulma.io/documentation/layout/container/">
                        Layout </a>
                    <a class="navbar-item is-background-grey-lighter is-color-grey-darker"
                        href="https://bulma.io/documentation/form/general/"> Form </a>
                    <a class="navbar-item is-background-grey-lighter is-color-grey-darker"
                        href="https://bulma.io/documentation/elements/box/"> Elements </a>
                    <a class="navbar-item is-background-grey-lighter is-color-grey-darker"
                        href="https://bulma.io/documentation/components/breadcrumb/"> Components </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">
                    <p class="control">
                        <a class="bd-tw-button button mr-5 p-4 px-4"                         
                            href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=https://bulma.io&amp;via=jgthms">
                            <span> Contact </span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>



<!--Main content -->
<main>
    <section class="hero is-white is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column">
                      <h1 class="title is-size-1 mb-2">
                        Welcome to WhatTheSite
                      </h1>
                      <h2 class="subtitle has-text-weight-semibold ">
                        Empowering SMEs with Government Support.
                      </h2>
                      <a href="./chat.html" class="button is-primary p-4 has-text-white">Chat with Thomas NOW</a>
                    </div>
                    <div class="">
                      <figure class="image is-pulled-right">
                        <img style="height: 430px;width: 600px;" src="../static/assets/Team-vector(No-background).png" alt="Placeholder image"> <!--https://www.freepik.com/free-vector/forming-team-leadership-concept-illustration_35294599.htm#page=2&position=7&from_view=author&uuid=0c67beaf-5df4-41c7-b319-aa65cfbb1a38-->
                      </figure>
                    </div>
                  </div>
            </div>
        </div>
    </section>
</main>

<!--Footer-->

<footer class="footer is-background-grey-lighter">
    <div class="container mb-6">
        <div class="footer-main">
            <div class="columns">
                <div class="column">
                    <h4 class="title is-4 is-color-grey-darker">About us </h4>
                    <p class="is-color-grey">
                        Empowering SMEs with Government Support. Your One-Stop Destination for Grants and Programs.
                    </p>
                </div>
                <div class="column">
                    <h4 class="title is-4 is-color-grey-darker">Getting Started</h4>
                    <p class="">
                    <p><a href="#">What to Expect?</a>
                    <p>
                    <p><a href="#">Why us?</a>
                    <p><a href="#">How to Use?</a>
                    <p></p>
                </div>
                <div class="column">
                    <h4 class="title is-4 is-color-grey-darker">Contact Us</h4>
                    <p>
                        <strong class="is-color-grey">WhatTheSite Support</strong>
                        <a href="mailto:support@whatthesite.gov.sg">support@whatthesite.gov.sg</a>
                    <p class="is-color-grey">Mon-Fri, 10am - 4pm</p>
                </div>

                <div class="column">
                    <h4 class="title is-4 is-color-grey-darker">Follow Us</h4>

                    <div class="buttons">
                        <a class="button is-medium is-facebook is-inverted is-black-social">
                  <span class="icon">
                    <i class="fa fa-facebook fa-lg"></i>
                  </span>
                        </a>
                        <a class="button is-medium is-instagram is-inverted is-black-social">
                  <span class="icon">
                    <i class="fa fa-instagram fa-lg"></i>
                  </span>
                        </a>
                        <a class="button is-medium is-twitter is-inverted is-black-social">
                  <span class="icon">
                    <i class="fa fa-twitter fa-lg"></i>
                  </span>
                        </a>
                        <a class="button is-medium is-youtube is-inverted is-black-social">
                  <span class="icon">
                    <i class="fa fa-youtube fa-lg"></i>
                  </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="has-text-centered">
        <p class="mt-4 is-color-grey">
            Copyright © 2024
            <a href="https://github.com/GalenLovesCheese/HackOMania">WhatTheSite</a>
        </p>
    </div>
</footer>
<script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>